<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<body>
<div th:fragment="Nav">
  <div class="header">
    <h2><a th:href="@{/}">KoSoo</a></h2>
    <div class="nav">
      <ul>
        <li><a th:href="@{/posts}" sec:authorize="isAuthenticated()">게시글 작성</a></li>
        <li><a th:href="@{/follows}" sec:authorize="isAuthenticated()">팔로우할 고수 찾기</a></li>
        <li><a th:href="@{/profile}" sec:authorize="isAuthenticated()">마이페이지</a></li>
        <li><a th:href="@{/login}" sec:authorize="!isAuthenticated()">로그인</a></li>
        <li><a th:href="@{/signup}" sec:authorize="!isAuthenticated()">회원가입</a></li>
        <li><a th:href="@{/logout}" sec:authorize="isAuthenticated()">로그아웃</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>