@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;600;700;900&display=swap');
body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFF3;
    color: #566270;
}
/* 로고 & 네비게이션 */
a {
    text-decoration: none !important;
    color: #566270;
}
a:hover {
    color: #566270 !important;
}
ul, li>a {
    text-decoration: none !important;
    color: #566270;
    cursor: pointer !important;
}
ul, li>a:hover {
    color: #A593E0 !important;
    font-weight: 500;
}
.logo {
    font-weight: 700;
}
.logo:hover {
    color: #A593E0;
}
.text-logo {
    color: #A593E0;
}
.nav ul li{
    display: inline-block;
    margin: 0 10px;
}
.nav ul li a:hover {
    color: #A593E0;
}
.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    --bs-offcanvas-width: 245px !important;
    --bs-offcanvas-bg: #ffffffe6 !important;
}
/* 페이지명 */
.sub-title {
    margin-top: 8rem;
    margin-bottom: 10rem;
}
.container {
    margin-bottom: 20rem;
}
.container-30 {
    max-width: 30rem;
    padding: 0 3rem;
}
.form-control {
    border-radius: 0.5rem !important;
    border: none;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
}
.form-control:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#email{
    border-radius: 0.5rem 0 0 0.5rem!important;
}
input::placeholder {
    color: #b9b9b9;
    font-size: 10px;
}
textarea::placeholder {
    color: #b9b9b9;
    font-size: 10px;
}
.btn-edit {
    background-color: #E0E3DA;
    color: #fff;
    font-size: 12px;
    font-weight: bold;

    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
}
.btn-edit:hover {
    background-color: #f7faeb;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.btn-submit {
    background-color: #A593E0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;

    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
}
.btn-submit:hover {
    background-color: #b9ade0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.btn-cancel {
    background-color: #566270;
    color: #fff;
    font-size: 12px;
    font-weight: bold;

    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
}
.btn-cancel:hover {
    background-color: #8699af;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* 폰트어썸 */
svg.svg-inline--fa.fa-xl {
    cursor: pointer !important;
}
svg.svg-inline--fa {
    cursor: pointer !important;
}

/* 배지 위치 & 색상 */
.start-12 {
    left: 7% !important;
}
.start-31 {
    left: 31% !important;
}
.start-106 {
    left: 106% !important;
}
.text-bg-kosoo {
    color: #ffffff;
    background-color: #A593E0;
}
.text-kosoo {
    color: #566270;
}

/* 카드 색상 */
.bg-kosoo {
    background-color: #f7f6fa;
    color: #566270;
}
.card {
    border-radius: 15px !important;
    border: none;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
}
.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-profile {
    padding: 2rem;
    width: 17rem;
    height: 25rem;
}
.card-post {
    width: 18rem;
    height: 18rem;
}
.start-21 {
    left: 21%!important;
}
.col {
    /*padding: 0 !important;*/
    margin: 0 0 2rem 0 !important;
}

/* .wrap-kosoo 스크롤 수정 */
.wrap-kosoo {
    white-space: pre-wrap; /* 줄 바꿈 유지 및 자동 줄 바꿈 활성화 */
    word-break: break-word; /* 긴 단어(or 문장)를 줄 바꿈 */
}
.d-kosoo {
    display: flex !important;
    flex-wrap: wrap;
    align-content: flex-start;
}
