@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {font-family: 'GmarketSansMedium', sans-serif;}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFF3;
    color: #566270;
}

/* 전체 링크 */
a {
    text-decoration: none;
    color: #566270;
}

/* header 시작 */
.header{
    width: 85%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /*양쪽 정렬*/
    align-items: center;
}

/* 로고 & 네비게이션 */
.logo {
    font-weight: 700;
}
.logo:hover {
    color: #A593E0;
}

.nav ul li{
    display: inline-block;
    margin: 0 10px;
}

.nav ul li a:hover {
    color: #A593E0;
}

.sub-title {
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 150px;
}