<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!-- 바꿀 title 명을 따옴표안에 넣는다 -->
<head th:replace="~{fragment/head :: Head ('KoSoo | 게시글 상세')}"><title></title></head>
<body>
<div class="container-fluid">
    <div th:replace="~{fragment/nav :: Nav}">insert</div>
    <div class="container">
        <div class="sub-title fs-4 fw-bold">게시글 상세</div>
        <div class="container-xxl">
            <div class="post">
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">

                    <div type="text" class="position-relative fw-bold">
                        좋아요
                        <span th:text="${post.heartNum}" class="position-absolute top-0 start-31 translate-middle badge rounded-pill text-bg-kosoo">
                            <span class="visually-hidden">게시글 좋아요 개수</span>
                        </span>
                        <i class="ms-5 fa-solid fa-heart fa-beat fa-xl" style="color: #A593E0;" onclick="postLike()"></i>
                        <i class="ms-2 fa-solid fa-heart-crack fa-xl" style="color: #E0E3DA;" onclick="postDislike()"></i>
                    </div>

                    <span class="ms-5 fw-bold" th:text="${post.username}"></span>
                    <span th:text="${post.modifiedAt}"> </span>

                </div>


                <div class="post-contents mb-5">
                    <div class="fs-2 mb-5" th:text="${post.title}"></div>
                    <img class="img-fluid mb-5" th:src="${post.imageUrl}" alt="프로필 이미지">
                    <div class="fs-4" th:text="${post.content}"></div>
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-5">
                    <button type="button" class="btn btn-edit" onclick="modifyPost()"> 수정</button>
                    <button type="button" class="btn btn-cancel" id="btn-delete" onclick="deletePost()">삭제</button>
                </div>

                <br>

                <div id=comments>
                    <div class="d-grid gap-2 d-flex justify-content-start">
                        <div type="text" class="position-relative fw-bold">
                            Comment
                            <span id="count" th:text="${#lists.size(post.commentList)}" class="position-absolute top-0 start-106 translate-middle badge rounded-pill text-bg-kosoo">
                                <span class="visually-hidden">댓글 개수</span>
                            </span>
                        </div>
                    </div>

                    <hr>

                    <ul>
                        <li th:each="comment : ${post.commentList}">
                            <span th:text="${comment.username}">&nbsp;&nbsp;</span>
                            <span th:text="${comment.modifiedAt}"></span>

                            <div>
                                <span th:text="${comment.content}"></span>
                            </div>
                            <label><textarea class="bg-transparent border-0" th:id="'comment-modify-input-' + ${comment.id}" placeholder="수정하실 댓글내용을 입력해 주세요."></textarea></label>

                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="button" class="btn btn-edit btn-comment-modify" id="modify-btn" th:comment="${comment.id}" th:onclick="modifyComment(this.getAttribute('comment'))">수정</button>
                                <button type="button" class="btn btn-cancel btn-comment-delete"  id="delete-btn" th:comment="${comment.id}" th:onclick="deleteComment(this.getAttribute('comment'))">삭제</button>
                            </div>

                            <div type="text" class="position-relative fw-bold fs-6">
                                좋아요
                                <span th:text="${comment.heartNum}" class="position-absolute top-0 start-7 translate-middle badge rounded-pill text-kosoo bg-light">
                                    <span class="visually-hidden">댓글 좋아요 개수</span>
                                </span>
                                <i class="fa-solid fa-heart fa-beat fa ms-5" style="color: #A593E0;" th:comment="${comment.id}" th:onclick="commentLike(this.getAttribute('comment'))"></i>
                                <i class="fa-solid fa-heart-crack fa ms-2" style="color: #E0E3DA;" th:comment="${comment.id}" th:onclick="commentDislike(this.getAttribute('comment'))"></i>
                            </div>

                            <hr>
                        </li>
                    </ul>
                </div>

                <div id="form-commentInfo">
                    <div class="mb-3">
                        <label for="comment-input"></label>
                        <input type="text" class="form-control p-2" id="comment-input" placeholder="댓글을 입력해 주세요.">
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-submit btn-comment" id="submit" onclick="create()">등록</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    let host = "http://localhost:8080"
    $(document).ready(function () {
        const auth = getToken();
        if (auth !== undefined && auth !== '') {
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                jqXHR.setRequestHeader('Authorization', auth);
            });
        }
    })
    function getToken() {
        let auth = Cookies.get('Authorization');
        if (auth === undefined) {
            return '';
        }

        return auth;
    }
    function create() {
        let feedId = [[${post.id}]];
        let content = $('#comment-input').val();
        $.ajax({
            type: "POST",
            url: `/api/comments`,
            contentType: "application/json",
            data: JSON.stringify({feedId: feedId, content: content}),
        }).done(function () {
            window.location.href = host + "/api/posts/" + feedId
        }).fail(function (res) {
            alert(res.responseText);
        })
    }
    function modifyPost() {
        let feedId = [[${post.id}]]
        window.location.href = host + "/api/posts/manage/" + feedId
    }
    function deletePost() {
        let feedId = [[${post.id}]];
        $.ajax({
            type: "DELETE",
            url: `/api/posts/` + feedId,
            contentType: "application/json",
        }).done(function () {
            alert("🗑 삭제 완료")
            window.location.href = host;
        }).fail(function (res) {
            alert(res.responseText);
        })
    }
    function modifyComment(id) {
        let feedId = [[${post.id}]];
        let inputId = 'comment-modify-input-' + id;
        let content = $('#' + inputId).val();
        console.log(content)

        $.ajax({
            type: "PUT",
            url: `/api/comments/` + id,
            contentType: "application/json",
            data: JSON.stringify({feedId: feedId, content: content}),
        }).done(function () {
            alert("📝 댓글 수정 완료");
            window.location.href = host + "/api/posts/" + feedId
        }).fail(function (res) {
            alert(res.responseText);
        })
    }
    function deleteComment(id) {
        let feedId = [[${post.id}]];
        $.ajax({
            type: "DELETE",
            url: `/api/comments/` + id,
            contentType: "application/json",
        }).done(function () {
            alert("🗑 댓글 삭제 완료");
            window.location.href = host + "/api/posts/" + feedId
        }).fail(function (res) {
            alert(res.responseText);
        })
    }
    function postLike(){
        let feedId = [[${post.id}]];
        $.ajax({
            type: "POST",
            url: `/api/posts/likes/` + feedId,
            contentType: "application/json",
        }).done(function () {
            alert("💖 게시글 좋아요");
            window.location.href = host + "/api/posts/" + feedId
        }).fail(function (res) {
            alert(res.responseText);
        })
    }
    function postDislike(){
        let feedId = [[${post.id}]];
        $.ajax({
            type: "DELETE",
            url: `/api/posts/likes/` + feedId,
            contentType: "application/json",
        }).done(function () {
            alert("❌ 게시글 좋아요 취소");
            window.location.href = host + "/api/posts/" + feedId
        }).fail(function (res) {
            alert(res.responseText);
        })
    }
    function commentLike(id){
        $.ajax({
            type: "POST",
            url: `/api/comments/likes/` + id,
            contentType: "application/json",
        }).done(function () {
            alert("💕 댓글 좋아요");
            window.location.href = host + "/api/posts/" + [[${post.id}]]
        }).fail(function (res) {
            alert(res.responseText);
        })
    }
    function commentDislike(id){
        $.ajax({
            type: "DELETE",
            url: `/api/comments/likes/` + id,
            contentType: "application/json",
        }).done(function () {
            alert("💔 댓글 좋아요 취소");
            window.location.href = host + "/api/posts/" + [[${post.id}]]
        }).fail(function (res) {
            alert(res.responseText);
        })
    }
</script>
</html>