<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!-- 바꿀 title 명을 따옴표안에 넣는다 -->
<head th:replace="~{fragment/head :: Head ('KoSoo | 팔로우 멤버')}"><title></title></head>
<body>
<div class="container-fluid">
    <div th:replace="~{fragment/nav :: Nav}">insert</div>
    <div class="text-center sub-title fs-4 fw-bold">팔로우 찾기 페이지</div>

    <div class="container">
        <div id="member-list" class="row">
            <!-- 팔로우할 멤버 리스트 생성 구간 -->
        </div>

        <div class="text-center sub-title fs-4 fw-bold mt-5">팔로잉 게시글</div>

        <div id="post-list" class="row">
            <!-- 팔로우한 멤버의 포스트 리스트 생성 구간 -->
        </div>
    </div>
</div>
</body>
<script>
    host = "http://localhost:8080"
    $(document).ready(function () {
        const auth = getToken();
        if (auth !== undefined && auth !== '') {
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                jqXHR.setRequestHeader('Authorization', auth);
            });
        }
        loadFeed();
        loadMembers();
    })
    function getToken() {
        let auth = Cookies.get('Authorization');
        if (auth === undefined) {
            return '';
        }

        return auth;
    }
    function loadFeed() {
        $.ajax({
            url: 'http://localhost:8080/api/following/posts',
            method: 'GET',
            success: function (response) {
                console.log(response)
                $('#post-list').empty();
                response.forEach(post => {
                    let addHtml = addHTML(post);
                    $('#post-list').append(addHtml)
                });
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    }
    function addHTML(post) {
        return `<div class="col">
                    <a href="http://localhost:8080/api/posts/${post.id}" class="card card-post text-bg-dark position-relative">
                      <img src="${post.imageUrl}" class="card-img overflow-hidden" alt="게시글썸네일">

                      <div class="card-img-overlay">
                        <div class="card-title fs-4 fw-bold m-3">${post.title}</div>

                        <div class="card-text text-end fs-6 position-absolute bottom-0 end-0 m-3">
                          <span class="text-start fw-bold">${post.username}</span>
                          <span class="ms-2"><i class="fa-solid fa-heart fa-beat fa ms-2" style="color: #A593E0;"></i> ${post.heartNum}</span>
                          <div class=""><small>${post.modifiedAt}</small></div>
                        </div>
                      </div>
                    </a>
                </div>`
    }
    function loadMembers() {
        $.ajax({
            url: 'http://localhost:8080/api/accounts/members',
            method: 'GET',
            success: function (response) {
                console.log(response)
                $('#member-list').empty();
                response.forEach(profile => {
                    let addHtml = addProfile(profile);
                    $('#member-list').append(addHtml)
                });
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    }
    function addProfile(profile) {
        return `<div class="col">
                  <div id="post" class="card bg-kosoo card-profile position-relative">
                    <img src="${profile.imageUrl}" class="img-thumbnail card-img-top" alt="프로필썸네일">
                    <div class="card-title fs-4 fw-bold">${profile.username}</div>
                    <div class="card-text fs-6 mb-2">${profile.introduce}</div>
                      <div class="card-body position-absolute bottom-0 start-21">
                        <button type="button" class="btn btn-submit" onclick="follow(${profile.id})">팔로우</button>
                        <button type="button" class="btn btn-edit" onclick="unfollow(${profile.id})">언팔로우</button>
                      </div>
                    </div>
                  </div>
                </div>`
    }
    function follow(id){
        $.ajax({
            type: "POST",
            url: `/api/follows/`+id,
            contentType: "application/json",
        }).done(function () {
            alert("😍 팔로우 성공");
            window.location.href = host + "/follows"
        }).fail(function (res) {
            alert(res.responseText);
        })
    }
    function unfollow(id){
        $.ajax({
            type: "DELETE",
            url: `/api/follows/`+id,
            contentType: "application/json",
        }).done(function () {
            alert("😶 언팔로우 성공")
            window.location.href = host + "/follows"
        }).fail(function (res) {
            alert(res.responseText);
        })
    }
</script>
</html>