<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="~{fragment/head :: Head ('Kosoo | 로그인')}">
    <title th:text="${Kosoo}"></title>
</head>
<body>
<div class="container">
    <div th:replace="~{fragment/nav :: Nav}">insert</div>
    <h1>로그인 페이지</h1>
    <div id="input-username">
        <label for="username"></label>
        <input type="text" id="username" placeholder="Username">
    </div>
    <div id="input-password">
        <label for="password"></label>
        <input type="password" id="password" placeholder="Password">
    </div>
    <div>
        <button id="login-btn" onclick="login()">로그인</button>
        <button id="signup-btn" onclick="location.href= host + '/signup'">회원가입</button>
    </div>
        <!-- <div>
            <h2>소셜 로그인</h2>
            <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">
                Google Login
            </a>
            <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">
                Naver Login
            </a>
        </div> -->
</div>
</body>
<script>
    $(document).ready(function () {
        Cookies.remove('Authorization', {path: '/'});
    });
    const href = location.href;
    const queryString = href.substring(href.indexOf("?") + 1)
    if (queryString === 'error') {
        const errorDiv = document.getElementById('login-failed');
        errorDiv.style.display = 'block';
    }
    const host = 'http://' + window.location.host;
    function login() {
        let username = $('#username').val();
        let password = $('#password').val();
        console.log(username, password);
        $.ajax({
            type: "POST",
            url: `/api/accounts/login`,
            contentType: "application/json",
            data: JSON.stringify({username: username, password: password}),
        })
            .done(function (res, status, xhr) {
                const token = xhr.getResponseHeader('Authorization');

                Cookies.set('Authorization', token, {path: '/'})

                $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                    jqXHR.setRequestHeader('Authorization', token);
                });

                window.location.href = host;
            })
            .fail(function (res, jqXHR, textStatus) {
                alert(res.responseText);
                window.location.href = host + '/login'
            });
    }
</script>
</html>