<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!-- 바꿀 title 명을 따옴표안에 넣는다 -->
<head th:replace="~{fragment/head :: Head ('KoSoo | 로그인 멤버')}"><title></title></head>
<body>
<div class="container-fluid">
    <div th:replace="~{fragment/nav :: Nav}">insert</div>
    <div class="container">
        <div class="container sub-title fs-4 fw-bold">로그인</div>
        <div id="input-username">
            <label for="username"></label>
            <input type="text" id="username" placeholder="Username">
        </div>
        <div id="input-password">
            <label for="password"></label>
            <input type="password" id="password" placeholder="Password">
        </div>
        <div>
            <button id="login-btn" onclick="login()">로그인</button>
            <button id="signup-btn" onclick="location.href= host + '/signup'">회원가입</button>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        Cookies.remove('Authorization', {path: '/'});
    });
    const href = location.href;
    const queryString = href.substring(href.indexOf("?") + 1)
    if (queryString === 'error') {
        const errorDiv = document.getElementById('login-failed');
        errorDiv.style.display = 'block';
    }
    const host = 'http://' + window.location.host;
    function login() {
        let username = $('#username').val();
        let password = $('#password').val();
        console.log(username, password);
        $.ajax({
            type: "POST",
            url: `/api/accounts/login`,
            contentType: "application/json",
            data: JSON.stringify({username: username, password: password}),
        })
            .done(function (res, status, xhr) {
                const token = xhr.getResponseHeader('Authorization');

                Cookies.set('Authorization', token, {path: '/'})

                $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                    jqXHR.setRequestHeader('Authorization', token);
                });

                window.location.href = host;
            })
            .fail(function (res, jqXHR, textStatus) {
                alert(res.responseText);
                window.location.href = host + '/login'
            });
    }
</script>
</html>