<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!-- 바꿀 title 명을 따옴표안에 넣는다 -->
<head th:replace="~{fragment/head :: Head ('KoSoo | 프로필수정 멤버')}"><title></title></head>
<body>
<div class="container-fluid">
    <div th:replace="~{fragment/nav :: Nav}">insert</div>
    <div class="container">
        <div class="container sub-title fs-4 fw-bold">정보수정</div>
        <div class="container-xl">

            <div id="passwordForm">
                <label for="password"></label>
                <input type="password" class="form-control p-2 mb-3" id="password" placeholder="비밀번호를 입력하세요">
                <div class="d-grid">
                    <button id="btn" onclick="checkPassword()" type="button" class="btn btn-submit p-2">비밀번호 확인</button>
                </div>
            </div>

            <div id="modifyForm" style="display: none">
                <div id="input-image" class="input-group mb-4">
                    <label for="file1" class="form-label"></label>
                    <input type="file" id="file1" class="form-control p-2" multiple>
                </div>
                <form>
                    <div class="input-group mb-3">
                        <label for="username"></label>
                        <input type="text" class="form-control p-2" id="username" placeholder="변경할 이름을 입력하세요">
                    </div>
                    <div class="input-group mb-3">
                        <label for="modifyPassword"></label>
                        <input type="password" class="form-control p-2" id="modifyPassword" placeholder="변경할 비밀번호를 입력하세요">
                    </div>
                    <div class="input-group mb-3">
                        <label for="introduce"></label>
                        <input type="text" class="form-control p-2" id="introduce" placeholder="소개를 입력하세요">
                    </div>
                </form>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-cancel" onclick="back()">취소</button>
                    <button type="button" class="btn btn-submit" id="btn-save" onclick="modify()">수정</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    let sel_file;
    let host = "http://localhost:8080"
    $(document).ready(function () {
        const auth = getToken();
        if (auth !== undefined && auth !== '') {
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                jqXHR.setRequestHeader('Authorization', auth);
            });
        }
        $("#file1").on("change", handleImgFileSelect);
    })
    function getToken() {
        let auth = Cookies.get('Authorization');
        if (auth === undefined) {
            return '';
        }

        return auth;
    }
    function checkPassword() {
        let password = $('#password').val();
        console.log(password)

        $.ajax({
            type: "POST",
            url: `/api/accounts/profile`,
            contentType: "application/json",
            data: JSON.stringify({password: password}),
        }).done(function () {
            $("#passwordForm").hide();
            $("#modifyForm").show();
        }).fail(function (res) {
            alert(res.responseText);
        })
    }
    function back(){
        window.location.href = host
    }
    function handleImgFileSelect(e) {
        var files = e.target.files;
        var filesArr = Array.prototype.slice.call(files);

        var reg = /(.*?)\/(jpg|jpeg|png|bmp)$/;

        filesArr.forEach(function(f) {
            if (!f.type.match(reg)) {
                alert("JPG, JPEG, PNG, BMP 파일(이미지)만 업로드 가능합니다.");
                return;
            }

            sel_file = f;

            var reader = new FileReader();
            reader.onload = function(e) {
                $("#img").attr("src", e.target.result);
            }
            reader.readAsDataURL(f);
        });
    }
    function modify(){
        let username = $('#username').val();
        let password = $('#modifyPassword').val();
        let introduce = $('#introduce').val();
        let imageInput = document.getElementById('file1');
        let image = imageInput.files[0];
        let formData = new FormData();
        formData.append("username", username);
        formData.append("password", password);
        formData.append("introduce", introduce);
        if (image !== 'undefined') {
            formData.append("image", image)
        }
        $.ajax({
            type: "PUT",
            url: `/api/accounts/profile/manage`,
            data: formData,
            processData: false,
            contentType: false
        }).done(function () {
            alert("👏 프로필 변경 완료")
            back()
        }).fail(function (res) {
            alert(res.responseText);
        })
    }
</script>
</html>