<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!-- 바꿀 title 명을 따옴표안에 넣는다 -->
<head th:replace="~{fragment/head :: Head ('KoSoo | 프로필 수정')}"><title></title></head>
<body>
<div class="container-fluid">
	<div th:replace="~{fragment/nav :: Nav}">insert</div>
	<div class="text-center sub-title fs-4 fw-bold">프로필 상세 페이지</div>

	<div class="container container-30">
		<div id="profile">
			<!-- 데이터 생성 구간 -->
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="/js/basic.js" ></script>
</html>
