<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!-- 바꿀 title 명을 따옴표안에 넣는다 -->
<head th:replace="~{fragment/head :: Head ('KoSoo | 회원가입 멤버')}"><title></title></head>
<body>
<div class="container">
    <div th:replace="~{fragment/nav :: Nav}">insert</div>
    <h1>회원가입 페이지</h1>
    <div id="input-username">
        <label for="username"></label>
        <input type="text" id="username" placeholder="Username">
    </div>
    <div id="input-password">
        <label for="password"></label>
        <input type="password" id="password" placeholder="Password">
    </div>
    <div id="input-email">
        <label for="email"></label>
        <input type="email" id="email" placeholder="Email">
        <button onclick="sendEmail()"> 인증코드 보내기 </button>
    </div>
    <div id="input-code">
        <label for="code"></label>
        <input type="text" id="code" placeholder="AuthCode">
    </div>
    <div>
        <button id="btn" onclick="signup()">회원가입</button>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        Cookies.remove('Authorization', { path: '/' });
    });

    let code = '';
    const host = 'http://' + window.location.host;

    function sendEmail() {
        let email = $('#email').val();
        $.ajax({
            type: 'POST',
            url: '/api/accounts/email-auth',
            contentType: 'application/json',
            data: JSON.stringify({ email: email }),
        }).done(function (res) {
            console.log(res);
            code = res;
        }).fail(function (res) {
            alert(res.responseText);
        });
    }

    function signup() {
        let username = $('#username').val();
        let password = $('#password').val();
        let email = $('#email').val();
        let inputCode = $('#code').val();
        if (inputCode === code) {
            $.ajax({
                type: 'POST',
                url: '/api/accounts/signup',
                contentType: 'application/json',
                data: JSON.stringify({ username: username, password: password, email: email }),
            }).done(function () {
                window.location.href = host;
            }).fail(function (res) {
                alert(res.responseText);
            });
        } else {
            alert('😨 인증코드 불일치');
        }
    }
</script>
</html>